.homePage {
    min-height: 100%;

    & .newsBlock {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;

        &__item {
            margin-bottom: 10px;
            padding: 10px;
            border-radius: $border-radius;
            margin: 0;
            background-color: $background-content;
            box-shadow: $box-shadow;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    & .lastUpdates {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;

        &__item {
            box-shadow: $box-shadow;
            border-radius: $border-radius;
            padding: 10px;
            background-color: $background-content;
        }
    }

    @include tablet {
        & .newsBlock {
            grid-template-columns: 1fr 1fr;
        }
    }

    @include mobile {
        & .newsBlock {
            grid-template-columns: 1fr;
        }
    }
}