.logIn {
    &__inner {

        & .logInForm {
            display: flex;
            height: 100%;
            width: 300px;
            margin: 0 auto;
            padding: 200px 0;
            flex-direction: column;

            &__title {
     text-align: center;
 }
            &__field {
                margin-bottom: 10px;
                padding: 5px;
                border-radius: $border-radius;
                border: 1px solid black;
            }

         

            &__btn {
                width: 200px;
                align-self: center;
                border: none;
                border-radius: $border-radius;
                padding: 5px;
            }

            &__link {
                margin-bottom: 10px;
            }
        }
    }
}