.signUp {
    &__inner {
        & .signUpForm {
            display: flex;
            flex-direction: column;
            width: 300px;
            align-items: center;
            padding: 200px 0;
            margin: 0 auto;

            &__field {
                width: 100%;
                margin-bottom: 10px;
                padding: 5px;
                border: 1px solid black;
                border-radius: $border-radius;

            }

            &__title {
                text-align: center;
            }

            &__btn {
                width: 200px;
                align-self: center;
                border: none;
                border-radius: $border-radius;
                padding: 5px;

            }
        }
    }
}