.adminInfo {
    margin: 0;
    padding: 0;
    list-style: none;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    padding: 10px;
    background-color: $background-content;
    margin-bottom: 10px;

    &__item {}
}