 .adBaner {
     position: relative;
     margin-bottom: 10px;

     &__item {

         border-radius: $border-radius;
         border: 2px solid black;
         padding: 10px;
     }

     & .slick-arrow {
         position: absolute;
         background-color: #000;
         z-index: 50;
         top: 50%;
     }

     & .slick-dots {
         position: absolute;
         bottom: 0;
     }

     & .slick-prev {

         left: 0;

     }

     & .slick-next {

         right: 0;
     }
 }