 .adBaner {
     position: relative;
     margin-bottom: 10px;
     box-shadow: $box-shadow;
     border-radius: $border-radius;
     background-color: $background-content;
     padding: 5px;

     &__item {

         border-radius: $border-radius;
         padding: 10px;
         background-color: $background-content;
     }

     & .slick-arrow {
         position: absolute;
         background-color: #000;
         z-index: 50;
         top: 50%;
     }

     & .slick-dots {
         position: absolute;
         bottom: 0;
     }

     & .slick-prev {

         left: 0;

     }

     & .slick-next {

         right: 0;
     }
 }