.productList {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;

    & .productCard {


        &__inner {
            display: flex;
            justify-content: space-between;
            border: 2px solid black;
            border-radius: $border-radius;
            padding: 10px;

        }

        &__ico {
            flex-basis: 15%;
            padding: 10px;
        }

        &__info {
            flex-basis: 65%;
            padding: 10px;
        }

        &__price {
            flex-basis: 10%;
            padding: 10px;
        }

        &__controls {
            flex-basis: 10%;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        @include tabletAndMobile {
            &__inner {
                flex-direction: column;
                text-align: center;
                flex-wrap: wrap;
            }
        }
    }
}