$main-color:#5c6bc0;
$background-color:#e8eaf6;
$secondary-color:#c5cae9;
$background-content:#fff;
$btn-primary-color:#00b0ff;
$btn-error-color:#f44336;
$btn-success-color:#7cb342;
$btn-text-primary-color:#fff;
$border-radius:8px;
$card-border-radius:25px;
$desctopMedia: 980px;
$tabletMedia: 767px;
$box-shadow:1px 1px 4px -1px rgba(0, 0, 0, 0.75);