.footer {
    &__inner {
        border-radius: $border-radius;
        padding: 5px;
        background-color: $secondary-color;
    }

    & .socialLinks {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &__item {
            box-shadow: $box-shadow;
            border-radius: $border-radius;
            flex-grow: 1;
            margin-bottom: 3px;
            margin-left: 3px;
            background-color: $background-content;

            &__link {
                display: block;
                padding: 5px;
                text-align: center;
            }
        }
    }

    & .usefullInfo {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &__item {
            flex-grow: 1;
            box-shadow: $box-shadow;
            border-radius: $border-radius;
            text-align: center;
            margin-bottom: 3px;
            margin-left: 3px;
            background-color: $background-content;

            &__link {
                display: block;
                padding: 5px;
            }
        }
    }
}